body, ul {
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
  }

  .gallery-item {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .navbar {
    background-color: #333;
  }
  .navbar-brand, .navbar-nav .nav-link {
    color: #fff;
  }
  .heading{
    background-color: #f0f0f0;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
  }