body {
    font-family: Arial, sans-serif;
  }
  .navbar {
    background-color: #333;
  }
  .navbar-brand, .navbar-nav .nav-link {
    color: #fff;
  }
  
  .project-section {
    position: relative;
    overflow: hidden;
  }
  
  .parallax {
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s;
  }
  
  .project-section:hover .overlay {
    opacity: 1;
  }
  
  .overlay h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .overlay p {
    font-size: 1rem;
  }
  
  .overlay img {
    max-width: 100%;
    max-height: 200px;
    margin-top: 20px;
  }
  
  .btn-redirect {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .btn-redirect:hover {
    background-color: #0056b3;
  }
  .project-section {
    margin:50px;
    position: relative;
    overflow: hidden;
    height: 400px; /* Set the desired height for each project section */
  }
  
